$primary:       #e95420 !default;
$secondary:     #0e8420 !default;
$success:       #fff !default;
$light:         #e8cd56 !default;
$dark:          #e95420 !default;

$input-bg: #c34113;
$input-border-color: #c34113;
$input-placeholder-color: #ccc;
$input-color: #fff;

$jumbotron-bg: rgb(247, 247, 247);

@import "~bootstrap/scss/bootstrap";